
########################
# ClientTwitch_EnvConfigMap
########################

#TWITCH_CLIENT_RUN=#TWITCH_CLIENT_ID=#TWITCH_CLIENT_CREDENTIALS_PATH=#TWITCH_CLIENT_TOKEN_PATH=#TWITCH_CLIENT_SERVEUR_PORT=#TWITCH_CLIENT_SERVEUR_URL=

########################
# ClientYoutube_EnvConfigMap
########################

#YOUTUBE_CLIENT_RUN=#YOUTUBE_CLIENT_CHAT_RECONNECT_TIME=#YOUTUBE_CLIENT_CHECK_LIVE_TIME=#YOUTUBE_CLIENT_CREDENTIALS_PATH=#YOUTUBE_CLIENT_TOKEN_PATH=#YOUTUBE_CLIENT_SERVEUR_PORT=#YOUTUBE_CLIENT_SERVEUR_URL=#YOUTUBE_CLIENT_PROTO_PATH=

########################
# CacheManager_EnvConfigMap
########################

#CACHEMANAGER_CACHE_PATH=#CACHEMANAGER_CACHE_URL=

########################
# ServeurExpress_EnvConfigMap
########################

#SERVEUREXPRESS_PORT=#SERVEUREXPRESS_CERT_PATH=#SERVEUREXPRESS_KEY_PATH=

########################
# ClientOBSEnvConfigMap
########################

#CLIENTOBS_URL=#CLIENTOBS_PASSWORD=#CLIENTOBS_RECONNECT=